.env
.venv
__pycache__
*.pyc
logs
data
sonarr_tdarr_state.db
.git/*
!.git/HEAD
!.git/packed-refs
!.git/refs
!.git/refs/heads
!.git/refs/heads/*
!.git/logs
!.git/logs/HEAD
.github
*.db
node_modules
.next
web/.next
web/node_modules
web/.turbo
tmp
dev-docs
